body {
  background-color: #f5f5f5;
  color: #333333;
  margin: 40px 300px;
}

#start-btn-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#start-btn {
  font-size: 60px;
  font-weight: bold;
  padding: 32px 64px;
  background-color: #10b981;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

#start-btn:hover {
  background-color: #0f8f70;
}

#text-box {
  font-size: 0;
}

.ch {
  font-size: 40px; 
}

#next {
  text-decoration: underline;
}

.correct {
  color: #10b981;
}

.wrong {
  background-color: #f28b82;
}

#report {
  background-color: white;
  padding: 40px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#report-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

#report-stats .row {
  display: flex;
  justify-content: space-between;
}

#report-stats .label {
  font-size: 20px;
  margin-bottom: 0;
}

#report-stats .value {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

#report-continue-practice-btn {
  background-color: #10b981;
  color: white;
  font-size: 30px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#report-continue-practice-btn:hover {
  background-color: #0f8f70;
}
