#container {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 35px;
}

#start-btn {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

#start-btn:hover {
  background-color: #04AA6D;
  color: white;
}

#str {
  font-size: 0;
  margin: 20px;
}

.ch {
 font-size: 25px; 
}

#next {
  text-decoration: underline;
}

.correct {
  color: green;
}
