<html>

<head>
  <script src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/style.css">
  <script src="script/main.js"></script>
</head>

<body>
  <div id='container'>
    <h1>Type Racer</h1>
    <div id='str'></div>
    <button id='start-btn' hx-get="/api/new_game" hx-target="#str" hx-swap="outerHTML">Start game</button>
  <div>
</body>

</html>
